extends layout

block content
  div.container.container-padding50
    input.js-userinput.container-textinput(type = 'text')

  div.container.container-images.js-container

  script(src=`/node_modules/jquery/dist/jquery.min.js`)
  script(src=`/node_modules/jquery.typewatch/jquery.typewatch.js`)
  script(src="/public/javascripts/main.js")